// Fonts
$josefinSans: 'Josefin Sans', sans-serif;
$alata: 'Alata', sans-serif;

:root {
  // Font Size
  --bodySize: 0.938rem;

  // Colors
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --darkGray: hsl(0, 0%, 55%);
  --veryDarkGray: hsl(0, 0%, 41%);
}

